.back{
    margin-top: -2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    background-image: url('/public/backGround.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 783px;
}
.cart{
    width: 1060px;
    height: 366px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
}
 .FoodCard {
     width: 340px;
     height: 167px;
     border: .66px solid #80808069;
     background:radial-gradient(
         90.16% 143.01% at 15.32% 21.04%,
         rgba(165, 239, 255, 0.2) 0%,
         rgba(110, 191, 244, 0.0447917) 77.08%,
         rgba(70, 144, 213, 0) 100%
       );
     backdrop-filter: blur(13.1842px);
     border-radius: 20px;
     display: flex;
     padding: 8px;
     gap: 20px;

 }
 .food_image{
    width: 133px;
    height: 133px;
 }
  .food_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    color: white;
    gap: 8px;
    h3{
      margin-top: 8px;
      font-size: 16px;
      font-weight: 500;
    }
    p {
      margin-top: 4px;
      font-size: 12px;
    }
  }

  @media (max-width : 696px){
    .back{
      height:1200px;
    }
  }