.pirant{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
  .search input{
      background-color: transparent;
      border: 1px solid red;
      color: white;
      border-radius: 5px;
      height: 40px;
      font-size: 16px;
      padding: 0 10px;
      &::placeholder {
        color: white;
      }
    }

  @media (0 < width < 600px) {
    .pirant{
        flex-direction: column;
        height: 80px;  
        align-items: center;
    } 
  }